* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: 0.4s;
}
  
html {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  scroll-behavior: smooth;
}

.mobile {
  display: initial;
}

.desktop {
  display: none;
}

/* ----------------- NAVIGATION BAR ------------------- */

.nav-bar {
  display: flex;
  margin: 5px 3.5% 5px 3.5%;
  justify-content: space-between;
  align-items: center;
}

.hamburguer-menu {
  width: 30px;
  height: 30px;
}

.forum-logo {
  width: 130px;
  height: 50px;
}

.five-per-nature-logo {
  height: 40px;
}

/* ||||||| ----------------- HOME MOBILE SECTION ------------------- |||||||| */

.home-intro {
  color: #ec5242;
  background-color: #f8f6f6;
}

.home-data-container {
  margin-left: 3.5%;
  margin-right: 3.5%;
  padding-top: 90px;
}

.home-intro h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.home-intro h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 20px; 
}

.home-intro-parag-container{
  color: #272a31;
  border: solid 3px #fff;
  padding: 16px 3.5% 16px 3.5%;
  margin-bottom: 1.5rem;
}

.home-intro-location-container {
  margin: 0 1.5% 0 1.5%;
  padding-bottom: 80px;
  color: #272a31;
}

.home-intro-location-container h2 {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 8px;
  font-size: 20px;
}

/* ----------------- MAIN PROGRAM SECTION ------------------- */

.main-program {
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  align-items: center;
}  

.main-program h2 {
  color: #fff;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 500;
}

.program-icon {
  width: 45px;
  margin-right: 12px;
}

.activity {
  display: flex;
  margin: 0 3% 5px 3%;
  background-color: #37393d;
  align-items: center;
}

.activity div {
  width: 45%;
  padding: 1.5rem 0 1.5rem 0.5rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.activity span {
  color: #ec5242;
  font-size: 20px;
}

.activity p {
  color: #fff;
  font-size: 0.8rem;
  width: 45%;
}

.join-global-forum {
  all: unset;
  color: #fff;
  background-color: #ec5242;
  outline: none;
  padding: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 1.8rem;
}

/* ----------------- SPEAKERS ------------------- */

.section-speakers {
  color: #272a31;
  padding-top: 30px;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-speakers h2 {
  font-size: 20px;
  font-weight: 400;
}

.speaker-grid-container {
  display: grid;
  grid-template-columns: auto;
}

.speaker-full-container {
  display: flex;
  margin: 0 2.5% 5px 2.5%;
  margin-bottom: 20px;
}

.speaker-picture-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.race-flag {
  width: 50px;
  position: absolute;
  float: left;
}

.speaker-picture {
  width: 90%;
  height: 90%;
  margin-left: 10%;
  position: relative;
  margin-top: 10%;

}

.speaker-profile-data {
  width: 65%;
  margin-left: 12px;
}

.speaker-profile-data-name {
  color: #272a31;
  size: 1rem;
  font-weight: 700;
  padding-bottom: 10px;
}

.speaker-profile-data-role {
  color: #ec5242;
  font-size: 0.7rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.speaker-profile-data-description {
  color: #272a31;
  font-size: 0.55rem;
  font-weight: 700;
  padding-bottom: 5px;
}

.see-more {
  display: flex;
  justify-content: center;
  border: 2px solid #f8f6f6;
  margin: 0.5rem 2% 1.5rem 2%;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 0.5rem 0;
  width: 95%;
}

/* ||||||| ----------------- ABOUT MOBILE SECTION ------------------- |||||||| */

.about-section {
  background-color: #f8f6f6;
}

.about-intro-container {
  margin: 0 2.5% 0 2.5%;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 55px;
  color: #ec5242;
}

.about-intro-container h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 18px;
  align-self: center;
}

.about-intro-container h1 {
  font-size: 2.3rem;
  font-weight: 900;
  margin-bottom: 50px;
  
  align-content: center;
}

.about-description-container {
  background-color: #fff;
}

.about-description {
  margin: 0 2.5% 0 2.5%;
  padding: 1.5rem 0;
  line-height: 1.5rem;
}

.about-further-questions-container {
  background-color: #f8f6f6;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-further-questions-paragraph {
  color:  #272a31;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.4rem;
}

.about-contact-mail {
  color: #272a31;
  font-size: 0.75rem;
  font-weight: 900;
}

    /* *********** Review Impact Sector ************* */

.review-impact-container {
  background-color: #fff;
}

.impact-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-impact-container h2 {
  padding-top: 2rem;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
}

.review-impact-container h3 {
  padding-top: 20px;
  margin-bottom: 2rem;
  font-size: 12px;
  font-weight: 700;
}

.example-past-project-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 5.5% 10px 5.5%;
}

.project-pictures {
  border: 1px solid #ec5242;
  margin-bottom: 25px;
  height: 35%;
}

   /* *********** Sponsors ************* */

.sponsor-section-container {
  background-color: #37393d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsor-title {
  color: #fff;
  padding-top: 20px;
}

.separator {
 width: 30px;
 height: 2px;
 background-color: solid #ec5242;
 border: solid 1px #ec5242;
 margin: 10px 0 25px 0;
}

.sponsor-logos-container {
  margin: 0 2% 2.5rem 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.sponsor-logo {
  width: 100px;
  height: 50px;
  margin-bottom: 1.5rem;
}
